@page "/cascading1"
@rendermode InteractiveAuto

<h5>

    Cascading by INotifyPropertyChanged

</h5>

    <div style="padding:20px; background-color:@StyleContext?.BackgroundColor
    ">
        Selecione uma cor de fundo:
        <input type="color" @bind="StyleContext.BackgroundColor" />
    </div>


<Nivel2Component />

@code {

   
    protected override void OnInitialized()
    {

    }


    [CascadingParameter]
    private StyleContext StyleContext { get; set; } //= new StyleContext { BackgroundColor = "#ADD8E6" }; // Azul claro
}
