@page "/customers"
@rendermode InteractiveAuto

<BootstrapCardComponent Title="Cadastro de Clientes">
    <Header></Header>
    <Body>
        <CustomersFilters CustomerSearchChanged=OnCustomerSearchChangedAsync>

        </CustomersFilters>
        <CustomersGrid PagedDataResponseCustomersChanged="OnPagedDataResponseCustomersChangedAsync"
        @ref="CustomersGrid">
        </CustomersGrid>
    </Body>
    <Footer>
        <PaginateComponent @ref="PaginateComponent"
        PageSelected="OnPageSelectedAsync"
        PageLengthChanged="OnPageLengthChangedAsync"
        Pagination="Pagination">

        </PaginateComponent>
    </Footer>
</BootstrapCardComponent>

@code {


    List<Customers>? Customers;
    Pagination? Pagination;
    CustomersGrid? CustomersGrid;
    CustomerSearch? CustomerSearch;
    PaginateComponent? PaginateComponent;


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
            {

                Pagination = new Pagination();
                Customers = new List<Customers>();
                CustomerSearch = new CustomerSearch();
            });
    }

    async Task OnCustomerSearchChangedAsync(CustomerSearch customerSearch)
    {
        CustomerSearch.Name = customerSearch.Name;
        CustomerSearch.Page = 1;
        await CustomersGrid.Search(CustomerSearch);
        Pagination.Page = 1;
    }

    async Task OnPagedDataResponseCustomersChangedAsync(PagedDataResponse<Customers> pagedDataResponseCustomers)
    {
        await InvokeAsync(() =>
        {
            Pagination.QtdItens = pagedDataResponseCustomers.TotalItens;
            
        });
    }

    async Task OnPageSelectedAsync(int args)
    {
        CustomerSearch.Page = args;
        await CustomersGrid.Search(CustomerSearch);
       
    }
    async Task OnPageLengthChangedAsync(int args)
    {
        CustomerSearch.Page = 1;
        Pagination.Page = 1;
        CustomerSearch.Limit = args;
        await CustomersGrid.Search(CustomerSearch);
       
    }
}
