@page "/customers"
@rendermode InteractiveAuto

<BootstrapCardComponent Title="Cadastro de Clientes">
    <Header></Header>
    <Body>
        <CustomersGrid PagedDataResponseCustomersChanged="OnPagedDataResponseCustomersChangedAsync"
        @ref="customersGrid">
        </CustomersGrid>
    </Body>
    <Footer>
        <PaginateComponent PageSelected="OnPageSelectedAsync"
        PageLengthChanged="OnPageLengthChangedAsync"
        Pagination="Pagination">

        </PaginateComponent>
    </Footer>
</BootstrapCardComponent>

@code {


    List<Customers>? Customers;
    Pagination? Pagination;
    CustomersGrid? customersGrid;


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
            {

                Pagination = new Pagination();
                Customers = new List<Customers>();
            });
    }

    async Task OnPagedDataResponseCustomersChangedAsync(PagedDataResponse<Customers> pagedDataResponseCustomers)
    {
        await InvokeAsync(() =>
        {
            Pagination.QtdItens = pagedDataResponseCustomers.TotalItens;
            StateHasChanged();
        });
    }

    async Task OnPageSelectedAsync(int args)
    {

        await customersGrid.Search(new CustomerSearch()
        {
            Page = args    
        });

    }
    async Task OnPageLengthChangedAsync(int args)
    {

    }
}
