@page "/cascading-parameters"
@rendermode InteractiveAuto


@* <CascadingValue Value="@StyleContext">
    <Nivel2 />
</CascadingValue> *@

<Nivel2 />
@if (StyleContext != null)
{
    <div style="padding:20px; background-color:@StyleContext?.BackgroundColor
    ">
        Selecione uma cor de fundo:
        <input type="color" @bind="StyleContext.BackgroundColor" />
    </div>
}
else
{
    <div>
        <p>
            Loading.....
        </p>
    </div>
    
}

@code {

   
    protected override void OnInitialized()
    {

    }


    [CascadingParameter]
    private StyleContext StyleContext { get; set; } //= new StyleContext { BackgroundColor = "#ADD8E6" }; // Azul claro
}
