@page "/customerlist" 
@rendermode InteractiveAuto 
@inject IJSRuntime JSRuntime



<h3>Customer List</h3> 

@* <PaginateComponent 
Pagination=Pagination
PageSelected=OnPageSelected
/> *@
 
<TableCardPaginated ResponsePaginated="ResponsePaginatedCustomer" />


@code {
    List<Customers> Customers = new List<Customers>();
    ResponseCustomerPaginated? ResponsePaginatedCustomer;
    BlazorApp.Client.Models.Pagination Pagination = new Pagination();

    async Task OnPageSelected(int page)
    {
        await Task.Run(() => {
            JSRuntime.InvokeVoidAsync("alert", $"Page {page} selected");
        }); 
    }   





    protected override void OnInitialized()
    {
        Customers = CustomerGenerator.GenerateCustomers(100);
        Pagination = new Pagination();
        Pagination.QtdItens = Customers.Count;  
        ResponsePaginatedCustomer = new ResponseCustomerPaginated(itens: Customers,
            pagination: Pagination);
    }


}
