@page "/eventos"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime    

<h3>Eventos</h3>

<p>Eventos blazor.</p>

<div>
    <button class="btn btn-warning" @onclick="ClickJs">Click me</button>
    <button class="btn btn-primary" @onclick="Click">Click me</button>
    <button class="btn btn-danger" @onclick="@((ev) => {
                    Texto = $"Posição do click  x={ev.ScreenX} y={ev.ScreenY} ";       
                } )">
        Click me
    </button>

    <button class="btn btn-secondary" onclick="javascript:alert('Clicou javascript')">Click me</button>
    <p>@Texto</p>
</div>

@code {
    string Texto { get; set; } = "Texto inicial";
    async Task ClickJs(MouseEventArgs ev)
    {
        await JSRuntime.InvokeVoidAsync("alert", "Clicou background");
    }
    void Click(MouseEventArgs ev)
    {
        Texto = $"Posição do click x={ev.ScreenX} y={ev.ScreenY} ";
    }

}
