@page "/genericcomponent"   
@rendermode InteractiveAuto 

<h3>GenericComponent</h3>

<TableCard Items="@Usuarios" 
                Headers="@headers" 
                ColumnTemplates="@columnTemplates">
</TableCard>

@code {
    private IEnumerable<Usuario> Usuarios = new List<Usuario>
    {
        new Usuario { Nome = "Eduardo", Idade = 42, Email = "eduardo@example.com" },
        new Usuario { Nome = "João", Idade = 30, Email = "joao@example.com" },
        new Usuario { Nome = "Maria", Idade = 25, Email = "maria@example.com" }
    };

    private List<string> headers = new List<string> { "Nome", "Idade", "Email" };

    private List<Func<Usuario, object>> columnTemplates = new List<Func<Usuario, object>>
    {
        item => item.Nome,
        item => item.Idade.ToString(),
        item => item.Email
    };


}
