@typeparam TItem where TItem : class
<table class="table">
    <thead>
        <tr>
            @foreach (var header in ResponsePaginated?.Headers ?? new List<string>())
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ResponsePaginated?.List ?? new List<TItem>())
        {
            <tr>
                @foreach (var template in ResponsePaginated?.ColumnsTemplates)
                {
                    <td>@template(item)</td>
                }
            </tr>
        }
    </tbody>
</table>
<PaginateComponent 
    Pagination="ResponsePaginated.Pagination" />

@code {

    [Parameter]
    public ResponsePaginated<TItem>? ResponsePaginated { get; set; }

}
