@typeparam TItem where TItem : class
<table class="table">
    <thead>
        <tr>
            @foreach (var header in ResponsePaginated?.Headers ?? new List<string>())
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ResponsePaginated?.List ?? new List<TItem>())
        {
            <tr>
                @foreach (var template in ResponsePaginated?.ColumnsTemplates)
                {
                    <td>@template(item)</td>
                }
            </tr>
        }
    </tbody>
</table>
<PaginateComponent 
    Pagination="ResponsePaginated.Pagination"
    PageLengthChanged="OnPageLengthChanged"
    PageSelected="OnPageSelected" />

@code {

    [Parameter]
    public ResponsePaginated<TItem>? ResponsePaginated { get; set; }

    [Parameter]
    public EventCallback<int> PageSelected { get; set; }

    [Parameter]
    public EventCallback<int> PageLengthChanged { get; set; }

    async Task OnPageLengthChanged(int page)
    {

        await PageLengthChanged.InvokeAsync(page);

    }

    async Task OnPageSelected(int page)
    {

        await PageSelected.InvokeAsync(page);

    }

}
