<h3>Nivel2NewComponent</h3>
@* 
@if (StyleContext != null)
{
    <div style="padding:20px; background-color:@StyleContext?.BackgroundColor
        ">
        Selecione uma cor de fundo:
        <input type="color" @bind="StyleContext.BackgroundColor" />
    </div>
}
else
{
    <div>
        <p>
            Loading.....
        </p>
    </div>

} *@
<Nivel3NewComponent/>

@code {

}
